* {
	position: relative;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	font-family: 'Roboto Mono', 'Microsoft JhengHei', sans-serif;
	font-size: 18px;
}

body {
	width: 80%;
	min-height: 100%;
	margin: 0 auto;
}

body::before, body::after {
	content: "";
	display: block;
	height: 8px;
}

h1, h2, h3 {
	margin: 48px 0 24px 0;
	padding: 8px;
	border-bottom: solid 2px #CCC;
	color: #666;
	white-space: nowrap;
}

h1 {
	text-align: center;
}

p {
	margin: 24px 0;
	text-indent: 2em;
	line-height: 1.8;
}

image, canvas {
	display: block;
	margin: 0 auto;
	max-width: 90%;
	background-color: #FFF;
	box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
}
